<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Testing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item" >
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="InsertProduct">Create Product</a>
                        </li>
                    </ul>
                    <ul class="form-inline my-2 my-lg-0  flex-row ml-md-auto d-none d-md-flex">

                        <li class="list-unstyled">
                            
                        @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                            {
                               <p>
                                  Search Product: @Html.TextBox("searchString")
                                 <input type="submit" value="Search" />
                               </p>
                            }
                        </li>
                    </ul>

                    @*<ul class="list-style-none justify-content-between">
                         <li class="nav-item list-style-none">
                             
                         </li>*@
                    @*</ul>*@



                </div>
            </div>
        </nav>
    </header>
    <div class="bg"></div>
    <p class="py-5 text-center"></p>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Testing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
